#container_general_oferta {
  height: 80vh;
  width: 70vw;
  margin: auto;
}

#back_btn,
a {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #617488;
  padding: 20px;
  text-decoration: none;
}
#back_btn svg {
  width: 30px;
}

#container_oferta_ind {
  margin: 20px;
  background-color: #f9fafc;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.281);
  border-radius: 20px;
  padding: 50px;
}
#cuerpo_oferta {
  display: flex;
  margin: 15px;
}
#columna_izq_oferta {
  width: 30%;
  list-style: none;
}
#columna_der_oferta {
  width: 70%;
}
#contact_btn {
  background-color: #397cc1;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}
#contact_btn:hover {
  background-color: #2a5783;
}
